<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button defaultHref="/" color="dark"></ion-back-button>
    </ion-buttons>
    <ion-title>Conductor</ion-title>
  </ion-toolbar>
</ion-header>

  <ion-content [fullscreen]="true">

      <ion-searchbar placeholder="Busca Aqui" (ionInput)="search()" slot="fixed" [(ngModel)]="searchKey"></ion-searchbar>
      <ion-list *ngIf="places.length > 0" class="autocomplete-address-list common-bg-light" lines="full">
        <div class="list autolist">
          <ion-item tappable (click)="onClickPickAddress(place.lat, place.lon)" class="item" *ngFor="let place of places">
            <ion-icon name="location-outline" slot="start"></ion-icon>
            {{place.display_name}}</ion-item>
        </div>
      </ion-list>
      <div id="map"></div>

    <ion-button color="success" [routerLink]="['/crear-viaje']" class="setButton" size="large" expand="block">
      <ion-icon name="add-circle-outline"></ion-icon> Registrar nuevo viaje</ion-button>
</ion-content>
