<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>{{ pageTitle }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">


  <ion-card>
    <ion-card-header>
      <ion-card-subtitle class="title">Conversor de Monedas</ion-card-subtitle>
      <ion-card-title class="cuerpo" style="font-size: 1.9em;">Pesos Chilenos -> Dolares / Euros</ion-card-title>
    </ion-card-header>

    <ion-item>
            <!--Convertidor de Monedas de Pesos Chilenos a Dolar con Mindicador.cl-->

            <ion-label position="stacked" class="ion-padding-bottom cuerpo" style="font-size: 1.4em;">Pesos Chilenos a Dolar</ion-label>
            <ion-input type="number" [(ngModel)]="pesosuno" class="cuerpo" style="font-size: 2em;">$</ion-input>
            <ion-button color="success"
                        (click)="convertirdolar()"
                        class="cuerpo">Convertir</ion-button>
            <ion-label position="stacked"
                       class="cuerpo">Resultado: ${{resultadodolar}}</ion-label>
      <hr>
          </ion-item>
        </ion-card>
    <ion-card>
          <ion-item>
          <ion-label position="stacked" class="cuerpo" style="font-size: 1.4em;">Pesos Chilenos a Euro</ion-label>
            <ion-input type="number" [(ngModel)]="pesosdos" class="cuerpo" style="font-size: 2em;">$</ion-input>
            <ion-button color="success"
                        (click)="convertireuro()"
                        class="cuerpo">Convertir</ion-button>
            <ion-label position="stacked" class="cuerpo">Resultado: €{{resultadoeuro}}</ion-label>
            <hr>
          </ion-item>
</ion-card>

</ion-content>
