<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Conversor</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">


  <ion-card>
    <ion-card-header>
      <ion-card-subtitle class="cuerpo" style="font-size: 2.3em;">
        <ion-icon name="sync-outline"></ion-icon>
        Conversor de Monedas</ion-card-subtitle>
    </ion-card-header>
    <div class="ion-padding">Pesos Chilenos / Dólar / Euro</div>
</ion-card>
      <ion-card>
    <ion-item>
            <!--Convertidor de Monedas de Pesos Chilenos a Dolar con Mindicador.cl-->

            <ion-label position="stacked" class="ion-padding-bottom cuerpo" style="font-size: 1.4em;">Pesos Chilenos a Dólar</ion-label>
            <ion-input type="number" [(ngModel)]="pesosuno" class="cuerpo" style="font-size: 2em;">$</ion-input>
            <ion-button color="success"
                        (click)="convertirdolar()"
                        class="cuerpo">Convertir</ion-button>
            <ion-label position="stacked"
                       class="cuerpo">Resultado: ${{resultadodolar}}</ion-label>
      <hr>
          </ion-item>
        </ion-card>
    <ion-card>
          <ion-item>
          <ion-label position="stacked" class="cuerpo" style="font-size: 1.4em;">Pesos Chilenos a Euro</ion-label>
            <ion-input type="number" [(ngModel)]="pesosdos" class="cuerpo" style="font-size: 2em;">$</ion-input>
            <ion-button color="success"
                        (click)="convertireuro()"
                        class="cuerpo">Convertir</ion-button>
            <ion-label position="stacked" class="cuerpo">Resultado: €{{resultadoeuro}}</ion-label>
            <hr>
          </ion-item>
    </ion-card>
    <ion-card>
          <ion-item>
          <ion-label position="stacked" class="cuerpo" style="font-size: 1.4em;">Dólar a Pesos Chilenos</ion-label>
            <ion-input type="number" [(ngModel)]="dolar" class="cuerpo" style="font-size: 2em;">$</ion-input>
            <ion-button color="success"
                        (click)="convertirdolarpesos()"
                        class="cuerpo">Convertir</ion-button>
            <ion-label position="stacked" class="cuerpo">Resultado: ${{resultadodolarpesos}}</ion-label>
            <hr>
          </ion-item>
    </ion-card>
        <ion-card>
          <ion-item>
          <ion-label position="stacked" class="cuerpo" style="font-size: 1.4em;">Euro a Pesos Chilenos</ion-label>
            <ion-input type="number" [(ngModel)]="euro" class="cuerpo" style="font-size: 2em;">€</ion-input>
            <ion-button color="success"
                        (click)="convertireuropesos()"
                        class="cuerpo">Convertir</ion-button>
            <ion-label position="stacked" class="cuerpo">Resultado: ${{resultadoeuropesos}}</ion-label>
            <hr>
          </ion-item>
    </ion-card>

</ion-content>
