<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>{{ pageTitle }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">


  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Conversor de Monedas</ion-card-subtitle>
      <ion-card-title>Pesos Chilenos -> Dolares / Euros</ion-card-title>
    </ion-card-header>

    <ion-item>
            <!--Convertidor de Monedas de Pesos Chilenos a Dolar con Mindicador.cl-->

            <ion-label position="stacked" class="ion-padding-bottom">Convertidor de Pesos Chilenos a Dolar</ion-label>
            <ion-input type="number" [(ngModel)]="pesos"></ion-input>
            <ion-button (click)="convertirdolar()">Convertir</ion-button>
            <ion-label position="stacked">Resultado: ${{resultado}}</ion-label>
      <hr>
          </ion-item>
        </ion-card>
    <ion-card>
          <ion-item>
          <ion-label position="stacked">Convertidor de Pesos Chilenos a Euro</ion-label>
            <ion-input type="number" [(ngModel)]="pesos"></ion-input>
            <ion-button (click)="convertireuro()">Convertir</ion-button>
            <ion-label position="stacked">Resultado: €{{resultado}}</ion-label>
            <hr>
          </ion-item>
</ion-card>

</ion-content>
