<ion-header [pageTitle]="pageTitle" [isNotHome]="isNotHome">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>{{ pageTitle }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-slides pager="true" [options]="slideOpts">
        <ion-slide>
            <div>
                <img src="../../../assets/img/840_560.jpeg">
                <h1 class="fuente" style="font-size: 2.5em;">Patricio Infante</h1>
                <h5 class="fuente" style="font-size: 1.5em;">Ingeniería en Informática</h5>
                <h3 class="fuente" style="padding: 0.5em;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto provident 
                    cum animi? Explicabo neque corrupti beatae quod sit vitae, consequatur officia fugiat ut 
                    libero cumque molestias dolorum.</h3><br>
            </div>
        </ion-slide>
        <ion-slide>
          <div>
            <img src="../../../assets/img/840_560.jpeg">
            <h1 class="fuente" style="font-size: 2.5em;">Matías González</h1>
            <h5 class="fuente" style="font-size: 1.5em;">Ingeniería en Informática</h5>
            <h3 class="fuente" style="padding: 0.5em;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto provident 
                cum animi? Explicabo neque corrupti beatae quod sit vitae, consequatur officia fugiat ut 
                libero cumque molestias dolorum.</h3><br>
          </div>
        </ion-slide>
        <ion-slide>
          <div>
            <img src="../../../assets/img/840_560.jpeg">
            <h1 class="fuente" style="font-size: 2.5em;">María Jesús Badilla</h1>
            <h5 class="fuente" style="font-size: 1.5em;">Ingeniería en Informática</h5>
            <h3 class="fuente" style="padding: 0.5em;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto provident 
                cum animi? Explicabo neque corrupti beatae quod sit vitae, consequatur officia fugiat ut 
                libero cumque molestias dolorum.</h3><br>
          </div>
        </ion-slide>
    </ion-slides>
    
</ion-content>