<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ pageTitle }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-slides pager="true" [options]="slideOpts">
        <ion-slide>
            <div>
                <img src="../../../assets/img/840_560.jpeg">
                <h1>Patricio Infante</h1>
                <h2>Ingeniero en Sonido y estudiante de Ingeniería Informática, 26 años. Vive en La Florida</h2><br>
            </div>
        </ion-slide>
        <ion-slide>
          <div>
            <img src="../../../assets/img/840_560.jpeg">
            <h1>Matías González</h1>
            <h2>Otaku a tiempo completo y estudiante de Ingeniería Informática, 20 años. Vive en Puente Alto</h2><br>
          </div>
        </ion-slide>
        <ion-slide>
          <div>
            <img src="../../../assets/img/840_560.jpeg">
            <h1>María Jesús Badilla</h1>
            <h2>???? y estudiante de Ingeniería Informática, 20 años. Vive en La Granja</h2><br>
          </div>
        </ion-slide>
    </ion-slides>
    
</ion-content>