<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button defaultHref="/" color="dark"></ion-back-button>
    </ion-buttons>
    <ion-title style="font-size: large;">Viajes disponibles</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card *ngFor="let dato of viaje">

    <ion-card-header>
      <ion-item>
        <ion-avatar slot="end">
          <img alt="imagen" [src]="dato.imagen">
        </ion-avatar>
        <ion-label>
          <ion-card-subtitle style="font-size: medium;" color="dark">Destino: {{dato.destino}}</ion-card-subtitle>
         <ion-card-subtitle style="font-size: medium;" color="dark" >{{dato.conductor}}</ion-card-subtitle>
        </ion-label>
      </ion-item>
    </ion-card-header>

    <ion-card-content style="text-align: center;">
      <ion-label style="font-size: 1.2em;" color="dark">Destino: {{dato.destino}}</ion-label><br>
      <ion-label style="font-size: 1.2em;" color="dark">Patente: {{dato.patente}}</ion-label><br>
      <ion-label style="font-size: 1.2em;" color="dark">Valor del Viaje: {{dato.valor}}</ion-label><br>
      <br>
      <ion-label>Descripción: {{dato.resumen}}</ion-label>
    </ion-card-content>

    <ion-button style="font-size: 1.3em;" color="success" class="setButton" (click)="reservarViaje()" size="large" expand="block">Reservar Viaje</ion-button>
  </ion-card>

</ion-content>
