<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <form [formGroup]="form" (ngSubmit)="login()">

      <ion-card>

        <ion-card-title color="primary" class="ion-text-center">
          <ion-label>
            <h1>Iniciar sesión</h1>
          </ion-label>
        </ion-card-title >
        <ion-card-content>
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input  type="email"
                        placeholder="correo@correo.com"
                        formControlName="email"
                        pattern="^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$"
                        required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input  type="password"
                        placeholder="********"
                        formControlName="password"
                        pattern="^(?=\w*\d)(?=\w*[A-Z])(?=\w*[a-z])\S{4,8}$"
                        required></ion-input>
          </ion-item>
        </ion-card-content>
        <ion-button class="cuerpo" color="success" shape="block" (click)="login()">Login</ion-button>
        <ion-button color="success" shape="block" [routerLink]="['/register']">Registro</ion-button>
      </ion-card>

    </form>

</ion-content>
