
/* Login Header Ionic CSS with dark mode */

ion-card-title {
    margin-top: 10px;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1rem;

}





ion-card{
    margin: 0 auto;
    width: 90%;
    max-width: 400px;
    margin-top: 50px;
    margin-bottom: 20px;
}

ion-button{
    margin: 0 auto;
    width: 50%;
    max-width: 400px;
    margin-top: 20px;
    margin-bottom: 20px;
}


h1{
    font-family: AmaticBold !important;
    font-size: 1.3em;
    text-align: center;
    color: black;
}