<ion-header>
  <ion-toolbar>
    <ion-title>page404</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Página no encontrada</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      La página que estás buscando no se encuentra disponible
    </ion-card-content>

    <ion-item href="#" class="ion-activated">
      <ion-icon name="arrow-undo-outline"></ion-icon>
      <ion-label>Volver</ion-label>
    </ion-item>
  </ion-card>
</ion-content>
