<ion-header>
  <ion-toolbar>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-card>
    <ion-card-title color="primary" class="ion-text-center">
      <ion-label>
        <h1>Registro</h1>
      </ion-label>
    </ion-card-title >
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input  type="email"
                    formControlName="email"
                    [(ngModel)]="user.email"
                    placeholder="correo@correo.com"
                    required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input  type="password"
                    formControlName="password"
                    [(ngModel)]="user.password"
                    required></ion-input>
      </ion-item>
    </ion-card-content>
    <ion-button color="success" shape="block" (click)="onSubmit()">Registro</ion-button>
  </ion-card>

</ion-content>
