<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>{{ pageTitle }}</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="logout()">
          <ion-icon slot="icon-only" name="log-out"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">

    <ion-card>

      <ion-card-title color="primary" class="ion-text-center ion-padding-top">
      <ion-card-subtitle class="cuerpo" style="font-size: 25px;">
        <ion-icon name="car-outline"></ion-icon>
        Bienvenido</ion-card-subtitle>
        <br>
                <ion-item>
                  <div class="avatar" style="margin: auto">
                    <ion-avatar (click)="uploadAvatar()">
                      <img *ngIf="profile?.imageUrl; else placeholder_avatar;" [src]="profile.imageUrl" />
                      <ng-template #placeholder_avatar>
                        <div class="no-avatar">
                          <ion-avatar>
                            <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
                          </ion-avatar>
                        </div>
                      </ng-template>
                    </ion-avatar>
                    <br>
                  </div>
        </ion-item>
      </ion-card-title>
      <br>
      <ion-card-content>
        <ion-item>
          <span class="fuente" style="font-size: 26px">
            Clima Actual:
            {{(weatherTemp?.temp - 273.15) | number:'1.0-0'}}°C
          </span>
          <ion-icon name="location"></ion-icon>
          <span class="fuente" style="font-size: 26px">{{cityName}}</span>
        </ion-item>
        <ion-card-title><img src="../../../assets/img/auto.png" alt=""></ion-card-title>
      </ion-card-content>
    </ion-card>

  </ion-content>
