<form [formGroup]="formulario">
  <ion-label type="floating">nombre</ion-label>
  <ion-input type="text" 
             formControlName="nombre"></ion-input>
   <ion-label type="floating">nombre</ion-label>
  <ion-input type="text" 
             formControlName="apellido"></ion-input>
  <ion-label type="floating">nombre</ion-label>
   <ion-input type="text" 
              formControlName="edad"></ion-input>
   <ion-label type="floating">nombre</ion-label>
   <ion-input type="text" 
              formControlName="genero"></ion-input>
   <ion-label type="floating">nombre</ion-label>
   <ion-input type="email" 
             formControlName="correo"></ion-input>
  <ion-label type="floating">nombre</ion-label>
  <ion-input type="text" 
             formControlName="marcaAuto"></ion-input>
  <ion-label type="floating">nombre</ion-label>
  <ion-input type="text" 
             formControlName="modeloAuto"></ion-input>
  <ion-label type="floating">nombre</ion-label>
  <ion-input type="text" 
            formControlName="patenteAuto"></ion-input>
  <ion-label type="floating">nombre</ion-label>
  <ion-input type="file" 
             formControlName="foto"></ion-input>
  <ion-button (click)="onSubmit()"></ion-button>
</form>